{% extends "layout.html" %} {% block title %}Density Plot{% endblock %} {% block
body %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
  d3.json("{{ url_for('static', filename='data/mouse_positions.json')}}").then(
    function (data) {
      const width = 600;
      const height = 600;

      let svg = d3
        .select("#container")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

      // Create density plot
      let densityData = d3
        .contourDensity()
        .x(function (d) {
          return d.x;
        })
        .y(function (d) {
          return d.y;
        })
        .size([width, height])
        .bandwidth(20)(data);

      // calculate the maximum density value
      let maxDensity = d3.max(densityData, function (d) {
        return d.value;
      });

      let colorScale = d3
        .scaleSequential()
        .interpolator(d3.interpolatePlasma)
        .domain([0, maxDensity]);

      svg
        .selectAll("path")
        .data(densityData)
        .enter()
        .append("path")
        .attr("d", d3.geoPath())
        .attr("fill", function (d) {
          return colorScale(d.value);
        })
        .style("opacity", 0.1); //Adjust to show background image through density plot
    }
  );
</script>
{% endblock %}
